.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 25%;
  padding-left: 50px;
  margin-top: 50px;
  top: 0;
}

.grid-container {
  display: grid;
  gap: 20px;
}

.grid-nav {
  grid-column: 1 / 2;
}

